<a href="https://colab.research.google.com/github/Kannapat-Tich/DataScience-Learning/blob/main/02-CreditScore_Customers/07credit-score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [49]:
import pandas as pd
import numpy as np

# Customers Credit Scoring

## 1. Data

In [25]:
credit = pd.read_csv('/content/drive/MyDrive/PEA-intern/02-CreditScore_Customers/file/DataFrame/credit_customer.csv')
credit = pd.DataFrame(credit)
credit.drop('Unnamed: 0', axis=1, inplace=True)

credit

,ca,bp,bp_type,act_class,tsic,mi_date,mo_date,kva,volt_buy,portion,...,amt_debt,installment,inst_period,dept_doc_type,pay_doc_type,payment_ch,payment,mean,std,count
0,20000000001,1000000008,NaN,GSB1,NaN,NaN,NaN,NaN,NaN,NaN,...,6055852.20,O,0,IN,AJ,ปรับปรุงแจ้งหนี้ฯ,-80,-82.916667,2.234373,12
1,20000000001,1000000008,NaN,GSB1,NaN,NaN,NaN,NaN,NaN,NaN,...,5652023.71,O,0,IN,AJ,ปรับปรุงแจ้งหนี้ฯ,-85,-82.916667,2.234373,12
2,20000000001,1000000008,NaN,GSB1,NaN,NaN,NaN,NaN,NaN,NaN,...,6809071.58,O,0,IN,AJ,ปรับปรุงแจ้งหนี้ฯ,-84,-82.916667,2.234373,12
3,20000000001,1000000008,NaN,GSB1,NaN,NaN,NaN,NaN,NaN,NaN,...,6217197.67,O,0,IN,AJ,ปรับปรุงแจ้งหนี้ฯ,-81,-82.916667,2.234373,12
4,20000000001,1000000008,NaN,GSB1,NaN,NaN,NaN,NaN,NaN,NaN,...,6174089.04,O,0,IN,AJ,ปรับปรุงแจ้งหนี้ฯ,-85,-82.916667,2.234373,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2268053,20027333058,1020228264,1.0,PPB1,61609.0,2023-12-27,2024-12-31,160.0,4.0,M1,...,386.91,O,0,IN,PC,รับชำระเงิน กฟข น3,12,12.000000,NaN,1
2268054,20027333389,1022550063,1.0,PPB1,63201.0,2023-12-27,2024-12-31,250.0,3.0,AR6,...,460.86,O,0,IN,PA,รับชำระเงิน กฟข น1,10,10.000000,NaN,1
2268055,20027333411,1022549921,2.0,PPB1,11140.0,2023-12-27,2024-12-31,250.0,4.0,AR6,...,4576.99,O,0,IN,PG,รับชำระเงิน กฟข ก1,-7,-7.000000,NaN,1
2268056,20027333415,1000883058,2.0,PPB1,50101.0,2023-12-27,2024-12-31,315.0,4.0,HA1,...,8682.47,O,0,IN,PL,รับชำระเงิน กฟข ต3,5,5.000000,NaN,1
2268057,20027346355,1022535588,2.0,GGB1,91021.0,2023-12-01,2024-12-31,400.0,4.0,HA1,...,3978.41,O,0,IN,PE,รับชำระเงิน กฟข ฉ2,-11,-11.000000,NaN,1

In [26]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2268058 entries, 0 to 2268057
Data columns (total 30 columns):
 #   Column           Dtype
---  ------           -----
 0   ca               int64
 1   bp               int64
 2   bp_type          float64
 3   act_class        object
 4   tsic             float64
 5   mi_date          object
 6   mo_date          object
 7   kva              float64
 8   volt_buy         float64
 9   portion          object
 10  meter_type       object
 11  meter_size       object
 12  ratecat          object
 13  region           float64
 14  sec_dep_cash     float64
 15  sec_dep_noncash  float64
 16  meter_age        float64
 17  bill_period      object
 18  bill_duedate     object
 19  bill_paydate     object
 20  amt_debt         float64
 21  installment      object
 22  inst_period      int64
 23  dept_doc_type    object
 24  pay_doc_type     object
 25  payment_ch       object
 26  payment          int64
 27  mean             float64
 28  std              float64
 29  count            int64
dtypes: float64(11), int64(5), object(14)
memory usage: 519.1+ MB

In [27]:
credit[credit.ca==credit.ca.unique()[0]]

,ca,bp,bp_type,act_class,tsic,mi_date,mo_date,kva,volt_buy,portion,...,amt_debt,installment,inst_period,dept_doc_type,pay_doc_type,payment_ch,payment,mean,std,count
0,20000000001,1000000008,NaN,GSB1,NaN,NaN,NaN,NaN,NaN,NaN,...,6055852.20,O,0,IN,AJ,ปรับปรุงแจ้งหนี้ฯ,-80,-82.916667,2.234373,12
1,20000000001,1000000008,NaN,GSB1,NaN,NaN,NaN,NaN,NaN,NaN,...,5652023.71,O,0,IN,AJ,ปรับปรุงแจ้งหนี้ฯ,-85,-82.916667,2.234373,12
2,20000000001,1000000008,NaN,GSB1,NaN,NaN,NaN,NaN,NaN,NaN,...,6809071.58,O,0,IN,AJ,ปรับปรุงแจ้งหนี้ฯ,-84,-82.916667,2.234373,12
3,20000000001,1000000008,NaN,GSB1,NaN,NaN,NaN,NaN,NaN,NaN,...,6217197.67,O,0,IN,AJ,ปรับปรุงแจ้งหนี้ฯ,-81,-82.916667,2.234373,12
4,20000000001,1000000008,NaN,GSB1,NaN,NaN,NaN,NaN,NaN,NaN,...,6174089.04,O,0,IN,AJ,ปรับปรุงแจ้งหนี้ฯ,-85,-82.916667,2.234373,12
5,20000000001,1000000008,NaN,GSB1,NaN,NaN,NaN,NaN,NaN,NaN,...,7236073.11,O,0,IN,AJ,ปรับปรุงแจ้งหนี้ฯ,-84,-82.916667,2.234373,12
6,20000000001,1000000008,NaN,GSB1,NaN,NaN,NaN,NaN,NaN,NaN,...,7319930.18,O,0,IN,AJ,ปรับปรุงแจ้งหนี้ฯ,-84,-82.916667,2.234373,12
7,20000000001,1000000008,NaN,GSB1,NaN,NaN,NaN,NaN,NaN,NaN,...,8236145.50,O,0,IN,AJ,ปรับปรุงแจ้งหนี้ฯ,-84,-82.916667,2.234373,12
8,20000000001,1000000008,NaN,GSB1,NaN,NaN,NaN,NaN,NaN,NaN,...,8944916.94,O,0,IN,AJ,ปรับปรุงแจ้งหนี้ฯ,-80,-82.916667,2.234373,12
9,20000000001,1000000008,NaN,GSB1,NaN,NaN,NaN,NaN,NaN,NaN,...,11859228.20,O,0,IN,AJ,ปรับปรุงแจ้งหนี้ฯ,-85,-82.916667,2.234373,12
10,20000000001,1000000008,NaN,GSB1,NaN,NaN,NaN,NaN,NaN,NaN,...,15745881.15,O,0,IN,AJ,ปรับปรุงแจ้งหนี้ฯ,-84,-82.916667,2.234373,12
11,20000000001,1000000008,NaN,GSB1,NaN,NaN,NaN,NaN,NaN,NaN,...,13579789.76,O,0,IN,AJ,ปรับปรุงแจ้งหนี้ฯ,-79,-82.916667,2.234373,12

In [28]:
credit[credit.ca==credit.ca.unique()[3]].iloc[0]

ca                        20000020082
bp                         1000449335
bp_type                           1.0
act_class                        PPB1
tsic                          95131.0
mi_date                    2008-10-02
mo_date                    2024-12-31
kva                             160.0
volt_buy                          3.0
portion                           AR6
meter_type                       M060
meter_size                   M0600010
ratecat                          3224
region                           14.0
sec_dep_cash                  64000.0
sec_dep_noncash                   0.0
meter_age                      5934.0
bill_period                   2023/01
bill_duedate               2023-02-17
bill_paydate               2023-02-14
amt_debt                     22227.67
installment                         O
inst_period                         0
dept_doc_type                      IN
pay_doc_type                       PG
payment_ch         รับชำระเงิน กฟข ก1
payment                             3
mean                             2.75
std                          3.918819
count                               8
Name: 36, dtype: object

## 2. Feature Selection

In [29]:
col = [
    'mean','std','count','meter_age','volt_buy',
    'amt_debt','sec_dep_cash','sec_dep_noncash','inst_period','bp_type'
    ]

### 2.1 Feature Creation

#### normalization

In [30]:
# credit['paid_score'] = (credit['count'] * credit['mean'])

# # Normalize
# min = credit.paid_score.min()
# max = credit.paid_score.max()

# credit['paid_score'] = ((credit.paid_score - min) / (max - min)) * 99 +1

In [31]:
# credit['debt_score'] = (credit.sec_dep_cash + credit.sec_dep_noncash) - credit.amt_debt

# # Normalize
# min = credit.debt_score.min()
# max = credit.debt_score.max()

# credit['debt_score'] = ((credit.debt_score - min) / (max - min)) * 99 +1

In [32]:
# credit['consistency'] = credit['std'] * credit['count']

# min = credit.consistency.min()
# max = credit.consistency.max()

# credit['consistency'] = (1 - (credit['consistency'] - min) / (max - min)) * 99 +1

In [33]:
# credit['usage_score'] = (credit.volt_buy * credit.kva) * credit['count']

# min = credit.usage_score.min()
# max = credit.usage_score.max()

# credit['usage_score'] = ((credit.usage_score - min) / (max - min)) * 99 +1

In [34]:
# credit['age_score'] = credit.meter_age

# min = credit.age_score.min()
# max = credit.age_score.max()

# credit['age_score'] = ((credit.age_score - min) / (max - min)) * 99 +1

In [36]:
# weight = {
#     'paid_score':40,
#     'debt_score':20,
#     'consistency':10,
#     'usage_score':15,
#     'age_score':15,
#     }

# credit['credit_score'] = (
#     credit.paid_score * weight['paid_score'] +
#     credit.debt_score * weight['debt_score'] +
#     credit.consistency * weight['consistency'] +
#     credit.usage_score * weight['usage_score'] +
#     credit.age_score * weight['age_score']
#     )

# min = credit.credit_score.min()
# max = credit.credit_score.max()

# credit['credit_score'] = ((credit.credit_score - min) / (max - min)) * 99 +1

#### scaler

In [69]:
credit['paid_score'] = (credit['count'] * credit['mean'])
# credit.paid_score = np.where(credit['mean']>= 0, credit['mean'].max(), credit.paid_score)

credit['debt_score'] = (credit.sec_dep_cash + credit.sec_dep_noncash) - credit.amt_debt
credit['consistency'] = 1 - (credit['std'] * credit['count'])
credit['usage_score'] = (credit.volt_buy * credit.kva) * credit['count']
credit['age_score'] = credit.meter_age

from sklearn.preprocessing import MinMaxScaler
scale = MinMaxScaler(feature_range=(1,100))

features = [
    'paid_score',
    'debt_score',
    'consistency',
    'usage_score',
    'age_score']

credit[features] = scale.fit_transform(credit[features])

In [64]:
credit['mean'].median()

0.0

In [70]:
weight = {
    'paid_score':40,
    'debt_score':20,
    'consistency':10,
    'usage_score':15,
    'age_score':15,
    }

credit['credit_score'] = (
    credit.paid_score * weight['paid_score'] +
    credit.debt_score * weight['debt_score'] +
    credit.consistency * weight['consistency'] +
    credit.usage_score * weight['usage_score'] +
    credit.age_score * weight['age_score']
    )

from sklearn.preprocessing import MinMaxScaler
scale = MinMaxScaler(feature_range=(1,100))

credit['credit_score'] = scale.fit_transform(credit[['credit_score']])

In [71]:
credit.sample(10)

,ca,bp,bp_type,act_class,tsic,mi_date,mo_date,kva,volt_buy,portion,...,payment,mean,std,count,paid_score,debt_score,consistency,usage_score,age_score,credit_score
1905904,20023875712,1017650240,2.0,PPB1,29011.0,2020-07-30,2024-12-31,100.0,3.0,M1,...,12,1.000000,4.690416,12,25.635395,48.610770,98.883388,1.030566,4.502026,29.225224
182420,20001905426,1001922656,1.0,PPB1,63209.0,2010-06-29,2024-12-31,100.0,4.0,AR6,...,0,0.000000,0.000000,12,25.560038,48.611259,100.000000,1.040755,12.490549,32.152272
617420,20007920907,1009041701,1.0,PPB1,13010.0,2010-12-25,2024-12-31,500.0,2.0,AR6,...,0,0.000000,0.000000,12,25.560038,48.632396,100.000000,1.101887,12.102398,32.049881
759390,20010667653,1007797152,2.0,GGB1,11209.0,2011-02-24,2024-12-31,100.0,2.0,AR6,...,-93,-106.222222,66.707904,9,19.556613,48.609018,88.089516,1.015283,11.970124,23.758343
1111737,20017778202,1012793350,2.0,PPB1,62204.0,2013-07-24,2024-12-31,100.0,2.0,M1,...,-7,-4.500000,1.678744,12,25.220932,48.609772,99.600354,1.020377,10.059731,30.910609
1199271,20018446067,1016064674,2.0,PPB1,41011.0,2014-05-12,2024-12-31,50.0,4.0,HA1,...,4,5.500000,3.477198,12,25.974500,48.611031,99.172210,1.020377,9.426547,31.284962
525402,20005776355,1004625607,2.0,PPB1,81024.0,2010-08-30,2024-12-31,100.0,4.0,AR6,...,13,13.333333,1.614330,12,26.564795,48.612858,99.615689,1.040755,12.356106,32.937186
88771,20001087839,1001030229,1.0,PPB1,94900.0,2007-09-29,2024-12-31,0.0,2.0,AR6,...,-15,-0.888889,13.214050,9,25.509800,48.612828,97.640673,1.000000,14.667660,32.300150
1383872,20019872078,1017915094,1.0,PPB1,71920.0,2016-01-04,2024-12-31,250.0,2.0,M1,...,0,0.500000,1.732051,12,25.597716,48.608633,99.587664,1.050943,8.121148,30.597703
1587495,20021412236,1018870302,2.0,PPB1,33111.0,2017-10-27,2024-12-31,1500.0,4.0,HA1,...,-1,-7.750000,4.594958,12,24.976023,48.500506,98.906113,1.611321,6.685642,29.524745

In [72]:
credit[credit.ca==20021292898]

,ca,bp,bp_type,act_class,tsic,mi_date,mo_date,kva,volt_buy,portion,...,payment,mean,std,count,paid_score,debt_score,consistency,usage_score,age_score,credit_score
1569706,20021292898,1017358593,2.0,PPB1,38199.0,2017-09-05,2019-12-01,1000.0,2.0,B4,...,0,0.0,0.0,12,25.560038,48.402217,100.0,1.203774,2.771613,28.782604
1569707,20021292898,1017358593,2.0,PPB1,38199.0,2017-09-05,2019-12-01,1000.0,2.0,B4,...,0,0.0,0.0,12,25.560038,48.441460,100.0,1.203774,2.771613,28.800532
1569708,20021292898,1017358593,2.0,PPB1,38199.0,2017-09-05,2019-12-01,1000.0,2.0,B4,...,0,0.0,0.0,12,25.560038,48.368895,100.0,1.203774,2.771613,28.767381
1569709,20021292898,1017358593,2.0,PPB1,38199.0,2017-09-05,2019-12-01,1000.0,2.0,B4,...,0,0.0,0.0,12,25.560038,48.427681,100.0,1.203774,2.771613,28.794237
1569710,20021292898,1017358593,2.0,PPB1,38199.0,2017-09-05,2019-12-01,1000.0,2.0,B4,...,0,0.0,0.0,12,25.560038,48.400716,100.0,1.203774,2.771613,28.781918
1569711,20021292898,1017358593,2.0,PPB1,38199.0,2017-09-05,2019-12-01,1000.0,2.0,B4,...,0,0.0,0.0,12,25.560038,48.419290,100.0,1.203774,2.771613,28.790404
1569712,20021292898,1017358593,2.0,PPB1,38199.0,2017-09-05,2019-12-01,1000.0,2.0,B4,...,0,0.0,0.0,12,25.560038,48.425208,100.0,1.203774,2.771613,28.793107
1569713,20021292898,1017358593,2.0,PPB1,38199.0,2017-09-05,2019-12-01,1000.0,2.0,B4,...,0,0.0,0.0,12,25.560038,48.405646,100.0,1.203774,2.771613,28.784171
1569714,20021292898,1017358593,2.0,PPB1,38199.0,2017-09-05,2019-12-01,1000.0,2.0,B4,...,0,0.0,0.0,12,25.560038,48.418651,100.0,1.203774,2.771613,28.790112
1569715,20021292898,1017358593,2.0,PPB1,38199.0,2017-09-05,2019-12-01,1000.0,2.0,B4,...,0,0.0,0.0,12,25.560038,48.443427,100.0,1.203774,2.771613,28.801431
1569716,20021292898,1017358593,2.0,PPB1,38199.0,2017-09-05,2019-12-01,1000.0,2.0,B4,...,0,0.0,0.0,12,25.560038,48.440543,100.0,1.203774,2.771613,28.800113
1569717,20021292898,1017358593,2.0,PPB1,38199.0,2017-09-05,2019-12-01,1000.0,2.0,B4,...,0,0.0,0.0,12,25.560038,48.416340,100.0,1.203774,2.771613,28.789056

In [73]:
credit.to_csv('/content/drive/MyDrive/PEA-intern/02-CreditScore_Customers/file/DataFrame/credit_score.csv',index=False)